+++
title = "carbon.txt"
linkTitle = "carbon.txt"

+++

{{< blocks/cover title="carbon.txt" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">For an fossil-fuel free internet </p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
<p>
carbon.txt is a proposed convention to verify that IT infrastucture uses green power.
</p>
<p>
If a site or digital services supports carbon.txt, you'll be able to trace a path from the site to where the energy it uses comes from, and the steps taken to stop it contributing to climate change.
</p>
<p>
It does this with governance structures we aleady use - combining the domain name system on the internet, and existing legislation around green energy in most energy markets today.</p>

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

If I have a site here




{{< /blocks/section >}}

{{< blocks/section color="light" >}}
{{% blocks/feature icon="fa-lightbulb" title="See it in use" %}}
See it in use on The Green Web Foundation Green Checker
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contribute to carbon.txt" url="https://github.com/thegreenwebfoundation/carbon.txt" %}}
Help shape the carbon.txt spec, to share the information most useful to you

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow @carbontxt on twitter" url="https://twitter.com/greenwebfound" %}}
For new releases, see software using it, and More
{{% /blocks/feature %}}


{{< /blocks/section >}}


